.regular-customers {
    padding-top: 94px;
    padding-bottom: 94px;


    &-title {
        font-family: var(--text-font);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.167;
        text-align: center;
        letter-spacing: 0.03em;
    
        color:var(--second-color);
        margin-bottom: 50px;
    }

    &-main {
        display: flex;
        justify-content: space-between;
        
    }

    &-list {
        display: flex;
    }

    &-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 90px;
        outline: none;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        cursor: pointer;
        transition: border var(--transition-duration) var(--transition-timing-function); 

    &:hover, 
    &:focus {
        border:  solid #2196F3;
        
        }
    
    }

    
    &-icon {
        display: flex;
        width: 90px;
        height: 52px;
        fill: #AFB1B8;
        transition: fill var(--transition-duration) var(--transition-timing-function);

    .regular-customers-link:hover &,
    .regular-customers-link:focus & {
        fill: var(--tertiary-color);

        }
    
    
    }
    
}









