.header {
    border: 1px solid rgba(236, 236, 236, 1);

    &-logo{
        font-family: var(--title-font);
        transition-duration: 250ms;
        font-weight: 700;
        color: var(--logo-color);
        font-size: 26px;
        line-height: 1.192;
        letter-spacing: 0.03em;
        
        
        display: block;
        min-width: 145px;
        margin-right: 94px;
        padding-top: 24px;
        padding-bottom: 24px;
    
        
        &-particle {
            color:var(--tertiary-color);
        }
        
    
        
    } 
}



    .navigation {
        display: flex;
        align-items: center; 
}


    .list-name {
        display: flex;
        align-items: center;
        
        &-item:first-of-type,
        &-item:nth-child(2) {
        margin-right: 50px;
        
        }

}



   

.link-main-active, 
.link-portfolio, 
.link-contact {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--transition-duration) var(--transition-timing-function);
    font-family: var(--text-font);
    font-weight: 500; 
    color:var(--second-color);
    line-height: 1.142;
    letter-spacing: 0.02em; 

    &:hover,
    &:focus {
    color: var(--tertiary-color);

    }
}




.header .link-main-active {
    position: relative;
    color: var(--tertiary-color);

    &::after {
        position: absolute;
        display: flex;
        left: 0;
        bottom: 0;
        width: 48px;
        height: 4px;
        border-radius: 2px;
        content: '';
        background-position: center;
        
        background-color: rgba(33, 150, 243, 1);
    }
    

}




    .link-cont {
        display: flex;
        align-items: center;
        margin-left: auto;

    &-name {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: 50px; 
          
        }

        
    &-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        cursor: pointer;
        transition: fill var(--transition-duration) var(--transition-timing-function);

        .link-inf:hover  &,
        .link-inf:focus  & {
        fill:currentColor;
            
            }
    }

        
}

    .link-inf {
        display: flex;
        margin-left: auto;
        padding-top: 32px;
        padding-bottom: 32px;
        transition: color var(--transition-duration) var(--transition-timing-function);
        
        font-family:var(--text-font);
        font-weight: 500;
        color:var(--accent-color);
        line-height: 1.142;
        letter-spacing: 0.02em;

        &:hover, 
        &:focus {
        color: var(--tertiary-color);

        }  


    
}




