.header {
    border: 1px solid rgba(236, 236, 236, 1);
}


.header-logo{
    transition-duration: 250ms;
    font-weight: 700;
    color: var(--logo-color);
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    
    
    display: block;
    min-width: 145px;
    margin-right: 94px;
    padding-top: 24px;
    padding-bottom: 24px;

    
} 

.header-logo-particle {
    color:var(--tertiary-color);
}


.header .contenier {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center; 
}

.list-name {
    display: flex;
    align-items: center;  
}

.list-name-item:nth-child(2) {
    margin-right: 50px;
    margin-left: 50px;
}


   
.header .link-main-active, .header .link-portfolio, .header .link-contact {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: var(--text-font);
    font-weight: 500; 
    color:var(--second-color);
    line-height: 1.142;
    letter-spacing: 0.02em; 
}

.header .link-portfolio:hover,
.header .link-portfolio:focus,
.header .link-contact:hover,
.header .link-contact:focus {
    color: var(--tertiary-color);

}

.header .link-main-active {
    position: relative;
    color: var(--tertiary-color);

}


.header  .link-main-active::after {
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    content: '';
    background-position: center;
    
    background-color: rgba(33, 150, 243, 1);
}

.header .link-cont {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.header .link-cont-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 50px; 
  
}

.link-inf {
    display: flex;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    font-family:var(--text-font);
    font-weight: 500;
    color:var(--accent-color);
    line-height: 1.142;
    letter-spacing: 0.02em;

    
}

.link-cont-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}





.link-inf:hover,
.link-inf:focus, 
.link-cont-icon:hover,
.link-cont-icon:focus {
    color: var(--tertiary-color);
    fill:currentColor;
    
      
}
