    .link-main, 
    .link-portfolio-active, 
    .link-contact{
            display: flex;
            padding-top: 32px;
            padding-bottom: 32px;
            transition-duration: 250ms;
            transition: color var(--transition-duration) var(--transition-timing-function);
            font-weight: 500; 
            color:var(--second-color);
            line-height: 1.142;
            letter-spacing: 0.02em; 

            &:hover,
            &:focus {
                color: var(--tertiary-color);
        }
            
    }
        
        
       
        
        
        
    .link-portfolio-active {
            position: relative;
            color: var(--tertiary-color);

            &::after {
                position: absolute;
                display: flex;
                width: 78px;
                height: 4px;
                left: 0;
                bottom: 0;
                border-radius: 2px;
                content: '';
                background-position: center;
                         
                background-color:rgba(33, 150, 243, 1);
            }
    }

        