.section-services {
    padding-top: 94px;
    padding-bottom: 94px;
    
    &-activ {
        display: flex;
        
    }

    &-details {
        width: 270px;
        justify-content: flex-start;
    
            &:not(:last-child) {
                margin-right: 30px;
            }
    
        
    }

    &-title {
        font-family:var(--text-font);
        font-weight: 700;
        color:var(--second-color);
        line-height: 1.142;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &-text {
        font-family:var(--text-font);
        color:var(--accent-color);
        line-height: 1.714;
        letter-spacing: 0.03em;
    }

    &-backg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 270px;
        height: 120px;
        background-color: rgba(245, 244, 250, 1);
        border-radius: 4px;
        margin-bottom: 30px;
    }

    
    &-icon {
        display: flex;
        width: 70px;
        height: 70px;
    }
    
}










