.contenier {
    width: 1200px;
    margin: 0 auto;
    padding-left: 0 15px;

    .footer & {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    
    
    }

    &-social {
        width: 206px;
        
     }

     .header & {
        display: flex;
        align-items: center;
    }

    .group-title & {
        width: 696px;
        
    
    }
    
}